# Examples using HIF translators with HAT

[HAT (Hypergraph Analysis Toolbox)](https://hypergraph-analysis-toolbox.readthedocs.io/en/latest/) is a python package for studying the structure and dynamics of hypergraphs. This notebook provides examples to make `HAT.Hypergraph`s compatible with other libraries based on the HIF standard.

This notebook has three parts:
1. Install and import the packages
2. Load a HIF compatible JSON file
3. Build the `HAT.Hypergraph`
4. Demonstrate how to reproduce a HIF compatible hypergraph

## Load HIF File

In [1]:
import json
import os

import fastjsonschema
from HAT import Hypergraph

In [2]:
with open(os.path.join("data", "e-coli.json"), "r") as file:
    # Load the JSON data from the file
    hif_data = json.load(file)

## Convert to HAT

The `HAT.Hypergraph.from_hif` method converts the data loaded from a HIF `JSON` file into a Hypergraph.

In [3]:
HG = Hypergraph.from_hif(hif_data)

Metadata associated with each node can be viewed in the `nodes` and `edges` dataframes:

In [4]:
HG.nodes

       Nodes                             name
0      3pg_c            3-Phospho-D-glycerate
1     succ_e                        Succinate
2     etoh_e                          Ethanol
3    13dpg_c  3-Phospho-D-glyceroyl phosphate
4      fdp_c      D-Fructose 1,6-bisphosphate
..       ...                              ...
67    6pgl_c  6-phospho-D-glucono-1,5-lactone
68  acon_C_c                    Cis-Aconitate
69       h_e                               H+
70      o2_c                            O2 O2
71     g3p_c       Glyceraldehyde 3-phosphate

[72 rows x 2 columns]

In [5]:
HG.edges

,edge,name,Nodes,Edges
0,SUCOAS_reverse,Succinyl-CoA synthetase (ADP-forming),"[19, 51, 32, 40, 36, 12]",0
1,EX_h2o_e,H2O exchange,[55],1
2,MALt2_2,Malate transport via proton symport (2 H),"[57, 69, 41, 43]",2
3,FUM,Fumarase,"[38, 17, 41]",3
4,H2Ot,H2O transport via diffusion,"[55, 38]",4
...,...,...,...,...
136,EX_mal__L_e,L-Malate exchange,[57],136
137,PGK_reverse,Phosphoglycerate kinase,"[19, 3, 0, 40]",137
138,PPC,Phosphoenolpyruvate carboxylase,"[38, 64, 11, 9, 51, 43]",138
139,PTAr_reverse,Phosphotransacetylase,"[36, 22, 23, 51]",139
140,PTAr,Phosphotransacetylase,"[23, 51, 36, 22]",140

## Convert Back to HIF

The `Hypergraph.to_hif` method converts the hypergraph object back to a python dictionary according to the HIF schema. This dictionary can be saved to a `JSON` file.

In [6]:
hif_output = HG.to_hif()

In [7]:
schema = json.load(open("../schemas/hif_schema_v0.1.0.json", "r"))
validator = fastjsonschema.compile(schema)

In [8]:
## The validator confirms the json read conforms to the HIF standard
output = validator(hif_output)

print("metadata: ", output["metadata"], "\n")
print("network-type: ", output["network-type"])

metadata:  {'uniform': False, 'order': -1, 'directed': False}

network-type:  undirected